<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Description</key>
	<string>Creates View, ViewModel, Controller.</string>
	<key>SortOrder</key>
	<integer>2</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Module name</string>
			<key>Description</key>
			<string>Name of module that you need create</string>
			<key>Default</key>
			<string>Test</string>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
</dict>
</plist>
